* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    height: 2000px;
}

nav {
    position: fixed;
    width: 100%;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: 0.3s;
}

nav.scrolled {
    background: #222;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: yellow;
}

.hero {
    height: 100vh;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    color: red;
}
nav {
    color: white;
}
.logo {
    color: white;
    font-weight: bold;
}
.content {
    height: 100vh;
    background: #111;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}